@import "normalize.css";
.hero {
  height: 100vh;
  width: 100%;
  background: url(/img/hero/firstscreen.png) no-repeat;
  background-size: contain;
  background-position: 100% 63%;
  background-color: #61c4d9;
  padding: 0 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.hero .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
}
.hero .header .logo .logo__img {
  width: 3rem;
}
.hero .header .nav .nav__list {
  list-style: none;
  display: flex;
}
.hero .header .nav .nav__list .nav__item {
  margin-right: 1.25rem;
  display: inline-block;
}
.hero .header .nav .nav__list .nav__item .nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
}
.hero .header .phone .phone__number {
  font-size: 1.12rem;
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}
.hero .header .phone .phone__number:hover {
  font-weight: 700;
  transition: 0.2s;
}
.hero .header .phone .phone__number:hover:before {
  background: url(/img/hero/phone_hover.png) no-repeat;
  transition: 0.2s;
}
.hero .header .phone .phone__number:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: black;
  background: url(/img/hero/phone.png) no-repeat;
  transition: 0.2s;
}
.hero .content {
  padding-top: 2.5rem;
}
.hero .content .product {
  width: 17.5rem;
}
.hero .content .product .product__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}
.hero .content .product .product__short-description {
  font-weight: 400;
  font-size: 1.05rem;
  padding-top: 1rem;
  margin-top: 0;
}
.hero .content .button {
  display: inline-block;
  padding: 1rem 1.75rem;
  background-color: white;
  outline: none;
  font-family: Alegreya Sans ExtraBold, sans-serif;
  font-size: 0.95rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  color: #125a47;
  transition: 0.3s;
}
.hero .content .button:hover {
  background-color: #0a4d3c;
  color: inherit;
  transition: 0.3s;
}
.hero .content .benefit {
  margin-top: 3rem;
}
.hero .content .benefit .benefit__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.hero .content .benefit .benefit__list .benefit__item {
  display: flex;
  align-items: top;
  margin-right: 2rem;
}
.hero .content .benefit .benefit__list .benefit__item .benefit__icon {
  display: inline-block;
  height: 3.5rem;
  width: 2.7rem;
}
.hero .content .benefit .benefit__list .benefit__item:first-child .benefit__icon {
  background-image: url(/img/hero/leaf_icon.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.hero .content .benefit .benefit__list .benefit__item:nth-child(2) .benefit__icon {
  background: url(/img/hero/truck_icon.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.hero .content .benefit .benefit__list .benefit__item:nth-child(3) .benefit__icon {
  background: url(/img/hero/measuring_tape.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.hero .content .benefit .benefit__list .benefit__item .benefit__link {
  display: inline-block;
  font-size: 0.8rem;
  vertical-align: top;
  width: 4.5rem;
  height: 3.5rem;
  padding-left: 0.5rem;
  color: inherit;
  text-decoration: none;
}
.hero .decoration {
  height: 5.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero .decoration .decoration__img {
  position: absolute;
  bottom: -50%;
  z-index: 10;
}
.hero .decoration .decoration__img:first-child {
  left: 2rem;
}
.hero .decoration .decoration__img:nth-child(2) {
  right: 14.4rem;
  bottom: -30%;
}
.hero .decoration .decoration__img:nth-child(3) {
  right: 4.5rem;
}

.whyChocco {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  background-image: url(/img/whyChocco/leaf_pattern.png);
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}
.whyChocco .product .product__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}
.whyChocco .product .product__short-description {
  font-weight: 400;
  font-size: 0.9rem;
  padding-top: 1rem;
  margin-top: 0;
  text-align: center;
  font-weight: 400;
  width: 21rem;
}
.whyChocco .profit .profit__list {
  margin: 0;
  padding: 0;
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.whyChocco .profit .profit__list .profit__list-separator {
  width: 4rem;
  height: 6rem;
  position: relative;
}
.whyChocco .profit .profit__list .profit__list-separator .profit__list-separator-img {
  background-color: #f2f5f4;
  border-radius: 50%;
  display: block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.whyChocco .profit .profit__list .profit__list-separator .profit__list-separator-img:after {
  height: 0.5rem;
  width: 0.5rem;
  display: block;
  content: "";
  background: #f2f5f4;
  position: absolute;
  left: 1.7rem;
  top: 0.5rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.whyChocco .profit .profit__list .profit__list-separator .profit__list-separator-img:before {
  height: 0.5rem;
  width: 0.5rem;
  display: block;
  content: "";
  background: #f2f5f4;
  position: absolute;
  right: 1.2rem;
  top: 0.5rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.whyChocco .profit .profit__list .profit__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whyChocco .profit .profit__list .profit__item:first-child .profit__icon {
  background-image: url(/img/whyChocco/hands_up.png);
}
.whyChocco .profit .profit__list .profit__item:nth-child(3) .profit__icon {
  background-image: url(/img/whyChocco/love_eyes.png);
}
.whyChocco .profit .profit__list .profit__item:nth-child(5) .profit__icon {
  background-image: url(/img/whyChocco/biceps.png);
}
.whyChocco .profit .profit__list .profit__item .profit__icon {
  width: 6.5rem;
  height: 6.5rem;
  background-color: #f2f5f4;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-size: 50%;
}
.whyChocco .profit .profit__list .profit__item .profit__title {
  font-size: 1.35rem;
  text-align: center;
}
.whyChocco .profit .profit__list .profit__item .profit__desc {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
}
.whyChocco .decoration {
  width: 100%;
  height: 11.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.whyChocco .decoration .decoration__img {
  position: absolute;
  left: 0;
  bottom: -50%;
  z-index: 10;
}

.review {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-image: url(/img/reviews/strawberry_right.png);
  background-repeat: no-repeat;
  background-position: 98.2% 4%;
}
.review .product__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}
.review .opinion {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1.8rem;
  display: flex;
  background-color: #f8faf9;
  background-image: url(/img/reviews/raspberry_pattern.png);
  position: relative;
}
.review .opinion .opinion__img-box {
  width: 13rem;
  height: 13rem;
  overflow: hidden;
  position: relative;
  margin: 2.2rem 0.75rem 2rem 2rem;
  flex-shrink: 0;
}
.review .opinion .opinion__img-box .opinion__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.review .opinion .opinion__text-box {
  margin: 1.4rem 8.3rem 3.5rem 0;
}
.review .opinion .opinion__text-box .opinion__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.review .opinion .opinion__text-box .opinion__content {
  font-size: 0.9rem;
}
.review .opinion .opinion__text-box .opinion__author-name {
  font-size: 0.9rem;
  font-family: "Alegreya Sans Medium", sans-serif;
  margin-top: 1.5rem;
}
.review .pagination .pagination__list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.review .pagination .pagination__list .pagination__item .pagination__link {
  box-sizing: content-box;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  position: relative;
  border: 6px solid transparent;
  border-radius: 50%;
  display: block;
  margin: 0;
  padding: 0;
}
.review .pagination .pagination__list .pagination__item .pagination__link--active {
  border-color: #0f5a47;
}
.review .pagination .pagination__list .pagination__item .pagination__link .opinion__img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.review .decoration {
  background-image: url(/img/reviews/leaf_pattern_left.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-position: left bottom;
  position: absolute;
  height: 16rem;
  width: 100%;
  left: 0;
  bottom: -7rem;
  background-size: auto 16rem;
}
.review .decoration .decoration__img {
  position: absolute;
  top: 3rem;
  left: 0.2rem;
}

.team {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url(/img/team/pattern.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.team .product__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  color: black;
  text-align: center;
}
.team .team__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 47rem;
  margin-top: 3rem;
}
.team .team__list .team__item {
  width: 11rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team .team__list .team__item .team__img-holder {
  width: 11rem;
  height: 14.5rem;
  overflow: hidden;
  position: relative;
}
.team .team__list .team__item .team__img-holder .team__img {
  display: block;
}
.team .team__list .team__item .team__desc .team__name {
  font-size: 1.05;
  font-weight: 700;
  padding-top: 1.25rem;
}
.team .team__list .team__item .team__desc .team__job {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.team .team__list .team__item .team__desc .team__skill {
  font-weight: 400;
  font-size: 0.9rem;
}
.team .decoration {
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 0;
}
.team .decoration .decoration__img {
  position: absolute;
  right: 0;
  top: -50%;
  z-index: 10;
}

.menu {
  background-image: url(/img/menu/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.menu .decoration {
  width: 100%;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 0;
}
.menu .decoration .decoration__img {
  position: absolute;
  left: 0;
  top: -50%;
  z-index: 10;
}

.delivery {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background: url(/img/delivery/background_pattern.png);
  padding: 0 4rem;
}
.delivery .product__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  color: black;
  text-align: center;
}
.delivery .form {
  display: flex;
  justify-content: space-between;
  border: 4px solid yellow;
  width: 100%;
}
.delivery .form .customer {
  width: 49.2%;
  background: #dde3bd;
}
.delivery .form .order {
  width: 49.2%;
}
.delivery .decoration {
  width: 100%;
  height: 10rem;
  position: absolute;
  bottom: 8.25rem;
  left: 0;
  background-image: url(/img/delivery/blueberry.png);
  background-repeat: no-repeat;
  background-position: 1rem bottom;
}
.delivery .decoration .decoration__img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.delivery .decoration--top {
  height: 13.5rem;
  top: 0;
  right: 0;
  background: none;
}
.delivery .decoration--top .decoration__img {
  position: absolute;
  right: 0;
  top: -58%;
  z-index: 10;
}

.map {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-image: url(/img/map/map.png);
  background-size: cover;
}
.map .footer {
  position: absolute;
  height: 4.75rem;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  align-items: center;
}
.map .footer .contacts {
  flex: 1;
  font-size: 1.05rem;
  padding-left: 4rem;
}
.map .footer .contacts .phone {
  display: flex;
  align-items: center;
}
.map .footer .contacts .phone .phone__img {
  width: 0.65rem;
  height: 0.65rem;
  background-color: red;
}
.map .footer .contacts .phone .phone__number {
  margin-left: 5px;
}
.map .footer .social {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.map .footer .social .social__list {
  margin-right: 3rem;
}
.map .footer .social .social__list .social__item {
  display: inline-block;
  vertical-align: middle;
}
.map .footer .social .social__list .social__item .social__link {
  width: 1.25rem;
  height: 1.25rem;
  background: lightpink;
  display: block;
  margin-right: 1rem;
}

.howWeAreWorking {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f8faf9;
  z-index: -10;
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url(fonts/AlegreyaSans-Regular.ttf);
}
* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Alegreya Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
html body {
  margin: 0;
  padding: 0;
  width: 100%;
}
html body .wrapper {
  margin: 0 auto;
  position: relative;
  width: 55rem;
}